<%- include('partials/header') %>
<div class="container">
	<nav class="mt-2 mb-2" style="--bs-breadcrumb-divider: '>'; " aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/" style="color:rgba(0, 0, 0, .7)">Главная</a></li>
			<li class="breadcrumb-item active" aria-current="page">О зоопарке</li>
		</ol>
	</nav>
	</div>
	<section id="about" class="about-content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-8">
			<p class="about-title">О нашем замечательном зоопарке!</p>
	</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-xl-12">
			<img src="img/Зоопарк_Ростов.jpg"/>	
	</div>
			</div>
			<div class="col-xl-12">
				<div class="about-text">
					<p>Муниципальное автономное учреждение культуры "Ростовский-на-Дону зоопарк" сегодня – один из крупнейших в России и Европе. В 2022 году Ростовскому-на-Дону зоопарку исполнилось 95 лет.</p>
					<p>Директор Ростовского-на-Дону зоопарка - Соболева Юлия Сергеевна.</p>
					<p>Весь территориальный комплекс представляет собой уникальное место отдыха в городской черте общей площадью порядка 60 гектар. В зоопарке представлена уникальная коллекция, состоящая из более чем 7 499 представителей. 509 видов животных, из числа которых 284 вида состоят в Красной книге МСОП (Международный союз охраны природы и природных ресурсов, International Union for Conservation of Nature (IUCN), 34 видa включены в Kpaсную книгy Российской Федерации, 14 видов представляют фауну Красной Книги Ростовской области.</p>
					<p>Ростовский-на-Дону зоопарк состоит в СоЗАР (Союз зоопарков и аквариумов), подключен к уникальной программе по учету животных мирового зоологического сообщества, созданной компанией Species360 - ЗИМС (Zoological Information Management System (ZIMS). Ростовский зоопарк принимает участие в европейских программах по размножению исчезающих видов животных (European Endangered  Species Programme (EEP)). Животные Ростовского-на-Дону зоопарка состоят на учете в Европейских племенных книгах  (ESB European Studbook (ESB)).</p>
					<p>Ежегодно в Ростовском зоопарке строятся новые экспозиции и реконструируются старые. Коллекция животных пополняется новыми представителями, которые не только рождаются в ростовском зоологическом саду, но и прибывают из других зоопарков России и Европы.</p>
					<p>На территории зоопарка находится 10 всесезонных экспозиций: слоны, жираф, носорог, аквариум, террариум, экзотариум, антропоидник, «Животные Африки», лемуры, капибары, сурикаты. Это дает возможность посетителям наблюдать за большинством обитателей зоопарка каждый день, круглый год.</p>
				</div>
			</div>
			</div>
			</section>
			<%- include("partials/footer"); -%>