<%- include('partials/header') %>
<section id = "video" class="video-section">
	<video class="w-100" autoplay loop muted>
		<source src="video/Video_zoo.mp4" type="video/mp4" />
	</video>
</div>
</section>


<section id="about" class="about-content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8">
		<p class="about-title">Вас приветствует самый красивый в мире зоопарк!</p>
</div>
		</div>
		<div class="row justify-content-between">
			<div class=" scale col-md-6">
				<img class="img-fluid" src="img/Фото_зоопарка_1.jpg" alt=""/>
			</div>
			<div class="col-md-6">
			<div class="about-text">
				<p>Муниципальное автономное учреждение культуры "Ростовский-на-Дону зоопарк" сегодня – один из крупнейших в России и Европе. В 2022 году Ростовскому-на-Дону зоопарку исполнилось 95 лет.</p>
			</div>
		</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="about-text">
					<p>Директор Ростовского-на-Дону зоопарка - Соболева Юлия Сергеевна.</p>
					<p>Весь территориальный комплекс представляет собой уникальное место отдыха в городской черте общей площадью порядка 60 гектар.</p>
				</div>
			</div>
			<div class="scale col-md-6">
				<img class="img-fluid" src="img/Фото_зоопарка_2.jpg" alt=""/>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<button type="button" class="button-blog"><a href="/about" style="color: white; text-decoration: none;">Подробнее<i class="fas fa-solid fa-caret-down"></i></a></button>
			</div>
	</div>
	</div>
</section>



<section class="pricing" id="pricing">
	<div class="container">
			<div class="row justify-content-center">
					<div class="col-xl-8">
							<h2 class="about-title">Цены</h2>
					</div>
			</div>
			<div class="row justify-content-around">
					<div class="col-xl-4 col-md-6">
							<div class="price">
								 <div class="price-head">
										 <p>Посещение</p>
								 </div>
								 <div class="price-body">
										 <ul>
												 <li>До 5 - беcплатно</li>
												 <li>От 5 до 14 - 120 руб.</li>
												 <li>Взрослые - 400 руб.</li>
										 </ul>
								 </div>
								 <div class="price-footer">
										 <button class="button-blog">ЗАКАЗАТЬ</button>
								 </div>
							</div>
					</div>
					 <div class="col-xl-4 col-md-6">
							<div class="price">
								 <div class="price-head">
										 <p>Экскурсия</p>
								 </div>
								 <div class="price-body">
										 <ul>
												 <li>До 10 чел.- 100 руб.</li>
												 <li>До 20 чел.- 800 руб.</li>
												 <li>Свыше 20 чел.- 500 руб.</li>
										 </ul>
								 </div>
								 <div class="price-footer">
										 <button class="button-blog">ЗАКАЗАТЬ</button>
								 </div>
							</div>
					</div>
					 <div class="col-xl-4 col-md-6">
							<div class="price">
								 <div class="price-head">
										 <p>Льготы</p>
								 </div>
								 <div class="price-body">
										 <ul>
												 <li>Взрослый - 200 руб.</li>
												 <li>Детский - 70 руб.</li>
												 <li>Студентам - 200 руб.</li>
										 </ul>
								 </div>
								 <div class="price-footer">
										 <button class="button-blog">ЗАКАЗАТЬ</button>
								 </div>
							</div>
					</div>
			</div>
	</div>
</section>


<section class="team" id="team">
	
		 
					 <h2 class="about-title">Фотогалерея</h2>
				
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="img/Львица.jpg" class="d-block w-100" alt="Львица"/>
					</div>
					<div class="carousel-item">
						<img src="img/Лето_3.jpg" class="d-block w-100" alt="Козел"/>
					</div>
					<div class="carousel-item">
						<img src="img/Попугай.jpg" class="d-block w-100" alt="Попугаи"/>
					</div>
					<div class="carousel-item">
						<img src="img/Волк_2.jpeg" class="d-block w-100" alt="Волк"/>
					</div>
					<div class="carousel-item">
						<img src="img/Лошади_2.jpg" class="d-block w-100" alt="Лошади"/>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Предыдущий</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Следующий</span>
				</button>
			</div>
				<button type="button" class="button-blog"><a href="/photogallery" style="color: white; text-decoration: none;">Больше<i class="fas fa-solid fa-caret-down"></i></a></button>
			
</section>

<footer class="footer" id="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8">
					<h2 class="about-title">Свяжитесь с нами</h2>
		 </div>
	</div>
	<form action="/compose" method="POST" id="Form" class="needs-validation" onsubmit="return onFormSubmit()">
			<div class="row justify-content-center form">
					<div class="col-xl-5"><input class="form-control" id="name" name="userName" type="text" placeholder="Your name" required/>
					</div>
					<div class="col-xl-5"><input class="form-control" id="email" name="userEmail" type="email" placeholder="Your email" required/>
					</div>
					<div class="col-xl-10"><textarea class="form-control" id="text" name="userMessage" cols="30" rows="10" placeholder="Write Message" required></textarea></div>
					
			</div>
			<div class="row">
				<div class="col-xl-12">
					<button type="submit" class="b button-blog" id="btn" data-bs-target="#exampleModal">Отправить</button>
				</div>
		</div>
		
	</form>
	</div>
</footer>


<%- include('partials/footer') %>
