<%- include("partials/header"); -%>
    <div class="container">
			<nav class="mt-2 mb-2" style="--bs-breadcrumb-divider: '>'; " aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/" style="color:rgba(0, 0, 0, .7)">Главная</a></li>
					<li class="breadcrumb-item active" aria-current="page">Посетителям</li>
				</ol>
			</nav>
			</div>
			<section class="pricing">
				<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-8">
			<p class="about-title">График работы зоопарка</p>
			<table class="table table-bordered table-bg">
				<thead>
					<tr class="table-success" style="text-transform: uppercase;">
						<th scope="col">Летний период</th>
						<th scope="col">Зимний период</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Ежедневно 8:00-20:00</td>
						<td>Ежедневно 8:00-18:00</td>
					</tr>
					<tr>
						<td class="table-success" colspan="2">Без выходных</td>
					</tr>
					<tr>
						<td class="table-success" colspan="2">Кассы работают</td>
					</tr>
					<tr>
						<td>8:00-19:30</td>
						<td>8:00-17:30</td>
					</tr>
				</tbody>
			</table>
	</div>

			</div>
		</div>
	</div>
	</section>
		<section class="pricing" id="pricing">
			<div class="container">
					<div class="row justify-content-center">
							<div class="col-xl-8">
									<h2 class="about-title">Цены</h2>
							</div>
					</div>
					<div class="row justify-content-around">
							<div class="col-xl-4 col-md-6">
									<div class="price">
										 <div class="price-head">
												 <p>Посещение</p>
										 </div>
										 <div class="price-body">
												 <ul>
														 <li>До 5 - беcплатно</li>
														 <li>От 5 до 14 - 120 руб.</li>
														 <li>Взрослые - 400 руб.</li>
												 </ul>
										 </div>
										 <div class="price-footer">
												 <button class="button-blog">ЗАКАЗАТЬ</button>
										 </div>
									</div>
							</div>
							 <div class="col-xl-4 col-md-6">
									<div class="price">
										 <div class="price-head">
												 <p>Экскурсия</p>
										 </div>
										 <div class="price-body">
												 <ul>
														 <li>До 10 чел.- 100 руб.</li>
														 <li>До 20 чел.- 800 руб.</li>
														 <li>Свыше 20 чел.- 500 руб.</li>
												 </ul>
										 </div>
										 <div class="price-footer">
												 <button class="button-blog">ЗАКАЗАТЬ</button>
										 </div>
									</div>
							</div>
							 <div class="col-xl-4 col-md-6">
									<div class="price">
										 <div class="price-head">
												 <p>Льготы</p>
										 </div>
										 <div class="price-body">
												 <ul>
														 <li>Взрослый - 200 руб.</li>
														 <li>Детский - 70 руб.</li>
														 <li>Студентам - 200 руб.</li>
												 </ul>
										 </div>
										 <div class="price-footer">
												 <button class="button-blog">ЗАКАЗАТЬ</button>
										 </div>
									</div>
							</div>
					</div>
			</div>
		</section>
		
<%- include("partials/footer"); -%>